body {
  background-image: url("./assets/images/background2.jpg");
  background-size: cover;
}

#navbar {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  top: 0;
  align-items: center;

  min-width: 100vw;
}

#allyDam{
  margin:0;
  width:fit-content;

}
.aTitle{
  display:flex;
  justify-content: center;
  width: 25vw;
  height: max-content;
}
#footer {
  position:fixed;
  bottom:0;
  text-align: center;
  min-width:100vw;
}

#histoire {
  margin-left:1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#textHistoire{
  width:50vw;
  padding:0 4vw;
}

#planning {
width: 50vw;
}

.planning {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100vw;
  text-align: center;
  line-height: 10vh;
}
h2{
  cursor: pointer;
}
.titleActive{
  text-decoration: underline;
}
.titleInactive{
  text-decoration:none;
}
.planningTitle{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-size:2rem;
  text-align: center;
}

.photobulle {
  width: 20vw;
  border-radius: 50%;
}
