@font-face {
  font-family: "Darleston";
  src: url("./assets/fonts/Darleston.otf") format("opentype");
}

:root {
  font-family: "Darleston", sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(151, 125, 90);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h3{
  font-weight: bolder;
  font-size:1.3rem;
  margin:0;
}

a {
  font-size: 2rem;
  font-weight: 1000;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  transition: 200ms;
}

a:hover {
  transform: scale(1.5) perspective(1);
  font-size: 3rem;
}
a:visited {
  color: rgb(151, 125, 90);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  margin: 5vh 10vw;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
